<ul class="nav nav-sidebar menulateral">

	<li class="menu-lateral-item" id="inicio-admin"><a href="{{ path('inicio-admin') }}" id="inicio-admin-a"><i class="fa fa-dashboard"></i> Inicio <span class="sr-only"></span></a></li>
    <li class="menu-lateral-item" id="admin-contactos"><a href="{{ path('admin_index') }}" id="admin-docentes-a"><i class="fa fa-star-o"></i> Contactos <span class="sr-only"></span></a></li>
    <li class="menu-lateral-item" id="amigos"><a href="{{ path('amigos') }}" id="amigos-a"><i class="fa fa-users"></i> Amigos <span class="sr-only"></span></a></li>
    <!--<li class="menu-lateral-item" id="admin-estudiantes"><a href="#" id="admin-estudiantes-a"><i class="fa fa-graduation-cap"></i> Estudiantes <span class="sr-only"></span></a></li>
    <li class="menu-lateral-item" id="admin-acudientes"><a href="#" id="admin-acudientes-a"><i class="fa fa-users"></i> Acudientes <span class="sr-only"></span></a></li>    
    <li class="menu-lateral-item" id="admin-tiposFaltas"><a href="#" id="admin-tiposFaltas-a"><i class="fa fa-bullhorn" aria-hidden="true"></i> Tipos de Faltas <span class="sr-only"></span></a></li>
    <li class="menu-lateral-item" id="admin-reportes"><a href="#" id="admin-reportes-a"><i class="fa fa-bookmark-o"></i> Reportes <span class="sr-only"></span></a></li>-->
</ul>