{% extends 'base.html.twig' %}

{% block body %}
    <script>
        localStorage.setItem("menuLateral", "inicio-admin");
    </script>
    <a href="{{ path('inicio-admin') }}">ACCEDER</a>
{% endblock %}
